* {
    box-sizing: border-box;
}

body {
    background-image: url(/p-integradora-flexbox/img/bg-2.png);
}

ul {
    list-style: none;
}

figure {
    margin: 0;
}

header {
    background-color: rgb(239, 76, 39);
    display: flex;
    height: 50px;
    padding: 8px;
    width: 1140px;
    margin-left: 15%;
    align-items: center;
    flex-direction: row;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

header nav ul {
    display: flex;
    color: white;
}

header nav ul li {
    margin-left: 10px;
}

body

main {
    width:  1140px;
    display: flex;
    margin-left: 15%;
    margin-top: 15px;
}

section.prods {
    background-color: white;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-around;
}

.prods article {
    width: 30%;
}